/*
App CSS file
handles all the customization of the app
except the buttons:
because they have their own css file:
button.css

and the Typo family
that is included on the main HTML
index.html file
<style>
    @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap');
    





*/

/*
background its the backing image of all the app
*/
.App{
  margin: 200rem;

}


.background{
  background-image: linear-gradient(to top right, #0015ff, #44ff00); 
  align-items: center;
  
}


header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-image: linear-gradient(to top right, #0015ff, #00ff11); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.app__header-container{
  padding: 1rem;
  flex-direction: row;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}


.app__header-link{
  gap: 1rem;
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(to top right, #ff0000, #0000ff);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}

/* all the divs */
div{
  display: flex;
  flex-wrap: wrap;
 
  gap: 4rem;
  align-self: center;
  padding: 4rem;
  justify-content: space-around;
}



input {
    margin-bottom: 3rem;
    padding: 0.8rem;
    
    
  }
  
/* all labels */

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

 
/* AUDIO VISUALIZER*/
  .InfoFrecuency{
  padding: 1rem;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  }

  .audio_visualizer_canvas{
    padding: 1rem;
    margin: 2rem ;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  }

  .general_audio_visualizer_controlers{
    padding: 1rem;
    flex-direction: row;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-image: linear-gradient(to top right, #0d0000d7, #0015ffcb,); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    size:15rem ; 

  }


  .audio_visualizer_controlers{
   padding: 1rem;
    flex-direction: row;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-image: linear-gradient(to top right, #0015ff, #00ff11); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    size:15rem ; 
    
  }

  /* on pages like AudioVisualizer Infolist */
  .list{
    padding: 1rem;
    flex-direction: row;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(to top right, #000000d3, #0400ffa5); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    size:15rem ; 
   
     
  }

  .info_container{
    padding: 1rem;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-image: linear-gradient(to top right, #ff0000, #e6ff04); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    size:15rem ; 
    -webkit-box-shadow:0px 0px 80px 83px rgba(46, 133, 255, 0.684);
    -moz-box-shadow: 0px 0px 80px 83px rgba(46, 133, 255, 0.612);
    box-shadow: 0px 0px 80px 83px rgba(46, 133, 255, 0.501);
  }

/* ChordVisulizerPage */
  .Chord{
  padding: 2rem;
  flex-direction: row;
  border: 0.2rem solid #ccc;
  border-radius: 1rem;
  margin: 2rem;
  background-image: linear-gradient(to top right, #ff0000, #e6ff04); 
  color:black;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1); 

  }

  .Chord_design{
    padding: 2rem;
    flex-direction: row;
    border: 0.2rem solid #ccc;
    border-radius: 1rem;
    margin: 2rem;
    background-color: #ffffff;
    color:black;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1); 
  
    }


    .Suffixes_design{
      padding: 2rem;
      flex-direction: row;
      border: 0.2rem solid #ccc;
      border-radius: 1rem;
      margin: 2rem;
      background-image: linear-gradient(to top right, #ffe601, #00ff11); 
      color:black;
      box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1); 
    
      }

      .select_Chord{
        font-size: 1.8rem;
      }