/* Define styles for elements with the class "App" */
.App {
  text-align: center;
  background-size: cover all;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: auto;
  padding: 30px ;
}


div{
  margin: 30px ;
}

button {
  size: 15px;
  border: none;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
 margin: 15px;
  font-size: 10px; /* Default font size */
  transition: font-size 0.3s ease-in-out; /* Add transition to font-size */
}

button:hover {
  font-size: calc(20px * 1.07); /* Increase font size by 7% on hover */
  color: rgb(5, 63, 255);
  background-color: rgb(5, 2, 31);
  transform: scale(1.07);
}

.Play{
  background-color: rgb(227, 5, 5);
  color: rgb(255, 255, 255);
}

.AudioUpload{
  background-color: rgb(238, 255, 0);
}

.Decrease{
  background-color: blue;
  color: white;
  
}

.Increase{
  background-color: rgb(2, 2, 89);
  color: white;
  
}

.Stop{
  background-color: rgb(255, 230, 0);
}

.list{
  background-color: rgb(238, 255, 0);
}

.InfoFrecuency{
  background-color: greenyellow;
}