div{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lilita One';
  gap: 4rem;
  align-self: center;
  padding: 4rem;
  justify-content: space-around;
}

input {
    margin-bottom: 3rem;
    padding: 0.8rem;
    
    
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  p{
    font: bold;
  }